@using ResearchApp.Data
<div class="placeholders mb-2">
    <div class="wrapper">
        <div id="search-tab-strip">
            <ul>
                <li>Authors</li>
                <li>Works</li>
                <li>Elements</li>
                <li>Author Results</li>
                <li>Work Results</li>
                <li>Element Results</li>
                <li>Search</li>
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var tabStrip = $("#search-tab-strip").kendoTabStrip({
            animation: { open: { effects: "fadeIn" } },
            contentUrls: [
                {
                    url: "/Grid/GetSearchForm",
                    cache: true,
                    data: { type: '@GridTypes.VAuthor' }
                },
                {
                    url: "/Grid/GetSearchForm",
                    cache: true,
                    data: { type: '@GridTypes.VWork' }
                },
                {
                    url: "/Grid/GetSearchForm",
                    cache: true,
                    data: { type: 'vElement' }
                },
                {
                    url: "/Grid/SearchForm",
                    cache: false,
                    type: "Post",
                    data: getSearchParams('@GridTypes.VAuthor', true)
                },
                {
                    url: "/Grid/SearchForm",
                    cache: false,
                    type: "Post",
                    data: getSearchParams('@GridTypes.VWork', true)
                },
                {
                    url: "/Grid/SearchForm",
                    cache: false,
                    type: "Post",
                    data: getSearchParams('vElement', true)
                },
                {
                    url: "/Grid/GetCommonSearchForm",
                    cache: false,
                    type: "Post",
                    //data: getSearchParams('vElement', true)
                }
            ]
        }).data('kendoTabStrip');

        hideLoading();
        resizeTabStrip();
        resizeSearchSplitter();
        var searchParam = $('#searchParam').val();
        if (searchParam === 'BrowseAll') {
            tabStrip.remove(tabStrip.tabGroup.children().eq(0));
            tabStrip.remove(tabStrip.tabGroup.children().eq(0));
            tabStrip.remove(tabStrip.tabGroup.children().eq(0));
            $(tabStrip.items()[0]).children()[0].innerText = "Authors";
            $(tabStrip.items()[1]).children()[0].innerText = "Works";
            $(tabStrip.items()[2]).children()[0].innerText = "Elements";
            tabStrip.reload("li:eq(1)");
            tabStrip.reload("li:eq(2)");
            tabStrip.select(0);
        }
        else {
            tabStrip.select(0);
        }

    });
</script>