@using ResearchApp.Data
<div class="grid-container ml-2">
    @(Html.Kendo().Grid<ResearchApp.ViewModel.RegionViewModel>()
                  .Name("grid")
                  .Columns(columns =>
                  {
                      columns.Command(command => command.Destroy()).Width(100);
                      columns.Bound(b => b.RegionID).Width(100);
                      columns.Bound(b => b.Name).Editable("checkIfGridEditable");
                      columns.Bound(b => b.Country).ClientTemplate("#=(Country.Option == null) ? '' : Country.Option#").Editable("checkIfGridEditable");
                      columns.Bound(b => b.DisplayName).Editable("checkIfGridEditable");
                      columns.Bound(b => b.GeoNameCode).Editable("checkIfGridEditable");
                      columns.Bound(b => b.AlternateNames).Editable("checkIfGridEditable");
                      columns.Bound(b => b.GeoNameID).ClientTemplate("#=(GeoNameId == null) ? '' : GeoNameId#").Editable("checkIfGridEditable");
                      columns.Bound(b => b.NameAscii).Editable("checkIfGridEditable");
                      columns.Bound(b => b.Slug).Editable("checkIfGridEditable");
                  })
                  .ToolBar(toolbar =>
                  {
                      toolbar.Create().HtmlAttributes(new { @class = "d-none" });
                      toolbar.Save().HtmlAttributes(new { @class = "d-none" });
                  })
                  .Editable(editable => editable.Mode(GridEditMode.InCell))
                  .Pageable(page => page.ButtonCount(7).Responsive(true))
                  .Navigatable()
                  .Sortable()
                  .Filterable()
                  .Scrollable()
                  .Reorderable(x => x.Columns(true))
                  .ColumnMenu(col => col.Filterable(true).Enabled(true))
                  .Resizable(resize => resize.Columns(true))
                  .Events(e => e.DataBound("onDataBound").ColumnMenuInit("columnMenuInit"))
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Batch(true)
                      .PageSize(1000)
                      .Events(events => events.Error("error_handler"))
                      .Model(model =>
                      {

                          model.Id(p => p.RegionID);
                          model.Field(p => p.RegionID).Editable(false);
                          model.Field(field => field.Country).DefaultValue(new ResearchApp.ViewModel.DropdownOptions());
                      })
                      .Create("Region_Create", "Grid")
                      .Read("List", "Grid", new { type = GridTypes.Region })
                      .Update("Region_Update", "Grid")
                      .Destroy("Region_Destroy", "Grid")
                  )
    )

</div>
