<div class="pane-content">
    <div class="col-md-10">
        <blockquote class="blockquote">
            <p class="mb-0">The Sifter</p>
            <footer class="blockquote-footer"><cite title="Source Title">Food History Database</cite></footer>
        </blockquote>
        <form id="form-login">
            <div class="form-group">
                <input type="text" id="Username" name="Username" class="k-textbox" placeholder="Username" required validationMessage="Enter {0}">
            </div>
            <div class="form-group">
                <input type="password" id="login-password" name="Password" class="k-textbox" placeholder="Password" required validationMessage="Enter {0}">
                <button type="button" id="forgot-password-btn" class="btn btn-link float-right">Forgot Password</button>
            </div>
            <div class="form-group">
                <button type="submit" id="login-btn" class="k-button btn-block k-primary btn-primary col-7">Login</button>
            </div>
        </form>
        <div id="logout-block" class="row">
            <label class="col-form-label col-12 loggedin-user"></label>
            <div class="col-6 mb-2">
                <button type="button" id="logout-btn" class="k-button btn-block k-primary btn-primary">Logout</button>
            </div>
        </div>
        <div class="k-content menu-item-container">
            <div class="row mb-2">
                <div class="col-6 mb-2">
                    <a role="button" class="k-button admin-link navigation-btn btn-block page1" href="#" onclick="redirectPage('home', 'page1')">Table Admin</a>
                </div>
                @*<div class="col-6 mb-2">
                    <a role="button" class="k-button navigation-btn btn-block page2" href="#" onclick="redirectPage('search', 'page2')">Basic Search</a>
                </div>
                <div class="col-6 mb-2">
                    <a role="button" class="k-button navigation-btn btn-block page3" href="#" onclick="redirectPage('search', 'page3')">Advanced Search</a>
                </div>*@
                <div class="col-6">
                    <a role="button" class="k-button navigation-btn btn-block page4" href="#" onclick="redirectPage('browseAll', 'page4')">Browse & Search</a>
                </div>
            </div>
        </div>

        <div class="demo-section k-content">
            @(Html.Kendo().TreeView()
               .Name("treeview").Events(ev => ev.Select("loadData").DataBound("treeViewDataBound"))
               .DataTextField("Text")
               .LoadOnDemand(false)
               .DataSource(dataSource => dataSource
                   .Read(read => read
                       .Action("BindAdminRemoteTree", "Home")
                   )
               )
            )
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var selectedPage = localStorage.getItem('menuItem');
        if (selectedPage) {
            $('.navigation-btn').removeClass('k-primary');
            $('.' + selectedPage).addClass('k-primary');
        }
        toggleLoginForm();
    });

    $("#form-login").kendoValidator();
</script>