<div class="pane-content">
    <div class="col-md-12">
        <blockquote class="blockquote">
            <p class="mb-0">The Sifter</p>
            <footer class="blockquote-footer"><cite title="Source Title">Food History Database</cite></footer>
        </blockquote>

        <div class="demo-section k-content">
            <div class="row form-group">
                <div class="col-md-12 mt-4">
                    <button type="button" onclick="getSearchResults()" class="btn k-primary">Search Now</button>
                </div>
                <div class="col-md-12 mt-4">
                    <button type="button" onclick="clearSearchForm()" class="btn k-button mr-sm-3">Start Over</button>
                </div>
                <div class="col-md-12 mt-4">
                    <a href="~/" onclick="clearSearchForm()" class="btn k-button mr-sm-3">Back to Browse</a>
                </div>
            </div>
        </div>
    </div>
</div>