<div class="pane-content">
    <div class="col-md-10">
        <blockquote class="blockquote">
            <p class="mb-0">The Sifter</p>
            <footer class="blockquote-footer"><cite title="Source Title">Food History Database</cite></footer>
        </blockquote>
        @await Html.PartialAsync("../Shared/_PartialLogin")
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var selectedPage = localStorage.getItem('menuItem');
        if (selectedPage) {
            $('.navigation-btn').removeClass('k-primary');
            $('.' + selectedPage).addClass('k-primary');
        }
        toggleLoginForm();
    });

    $("#form-login").kendoValidator();
</script>