@using ResearchApp.Data
<div class="placeholders mb-2">
    @(Html.Kendo().TabStrip()
      .Name("search-tab-strip")
      .Animation(animation =>
          animation.Open(effect =>
          effect.Fade(FadeDirection.In)))
      .Events(eve => eve.Select("tabStripOnSelect"))
      .Items(tabstrip =>
      {
          tabstrip.Add().Text("Authors")
              .LoadContentFrom("GetSearchForm", "Grid", new { type = GridTypes.VAuthor });
          tabstrip.Add().Text("Works")
              .LoadContentFrom("GetSearchForm", "Grid", new { type = GridTypes.VWork });
          tabstrip.Add().Text("Elements")
              .LoadContentFrom("GetSearchForm", "Grid", new { type = GridTypes.VUnit });
          tabstrip.Add().Text("Author Results")
              .Content("<div class='search-results' id='author-search-results'></div>");
          tabstrip.Add().Text("Work Results")
              .Content("<div class='search-results' id='work-search-results'></div>");
          tabstrip.Add().Text("Element Results")
              .Content("<div class='search-results' id='unit-search-results'></div>");
      }
    ))
</div>

<script>
    $(function () {
        hideLoading();
        resizeTabStrip();
        resizeSearchSplitter();
        var searchParam = $('#searchParam').val();
        var tabStrip = $("#search-tab-strip").kendoTabStrip().data("kendoTabStrip");
        if (searchParam === 'BrowseAll') {
            tabStrip.select(3);
            tabStrip.remove(tabStrip.tabGroup.children().eq(0));
            tabStrip.remove(tabStrip.tabGroup.children().eq(0));
            tabStrip.remove(tabStrip.tabGroup.children().eq(0));
            $(tabStrip.items()[0]).children()[1].innerText = "Authors";
            $(tabStrip.items()[1]).children()[1].innerText = "Works";
            $(tabStrip.items()[2]).children()[1].innerText = "Elements";
            getSearchResults();
        }
        else {
            tabStrip.select(0);
        }

    });
</script>