@using ResearchApp.Data
<div class="placeholders mb-2">
    @(Html.Kendo().TabStrip()
      .Name("search-tab-strip")
      .Animation(animation =>
          animation.Open(effect =>
          effect.Fade(FadeDirection.In)))
      .Items(tabstrip =>
      {
          tabstrip.Add().Text("Authors")
              .Selected(true)
              .LoadContentFrom("GetSearchForm", "Grid", new { type = GridTypes.VAuthor });
          tabstrip.Add().Text("Works")
              .LoadContentFrom("GetSearchForm", "Grid", new { type = GridTypes.VWork });
          tabstrip.Add().Text("Elements")
              .LoadContentFrom("GetSearchForm", "Grid", new { type = GridTypes.VUnit });
          tabstrip.Add().Text("Author Results")
              .Content("<div class='search-results' id='author-search-results'></div>");
          tabstrip.Add().Text("Work Results")
              .Content("<div class='search-results' id='work-search-results'></div>");
          tabstrip.Add().Text("Element Results")
              .Content("<div class='search-results' id='unit-search-results'></div>");
      }
    ))
</div>