@model dynamic
<div class='search-results' id='search-results-@((int)Model.GridType)'>
</div>

<script>
        $(document).ready(function () {
            generateGrid(@Html.Raw(Json.Serialize(Model)), '#search-results-@((int)Model.GridType)');
        });
</script>