@using ResearchApp.Data
<div class="grid-container ml-2">
    <div id="kendo-grid-container">
    @(Html.Kendo().Grid<ResearchApp.ViewModel.CityViewModel>()
                  .Name("grid")
                  .Columns(columns =>
                  {
                      columns.Template("<div class='text-center'><input type='checkbox' id='#=CityID#' class='grid-item'/></div>")
                      .ClientHeaderTemplate("<div class='k-grid-delete text-center'><a role='button' class='k-button k-button-icontext' href=''>Delete</a></div>").Width(100);
                      columns.Bound(b => b.CityID).Width(100);
                      columns.Bound(b => b.Name).Editable("checkIfGridEditable");
                      columns.Bound(b => b.DisplayName).Editable("checkIfGridEditable");
                      columns.Bound(b => b.Country).ClientTemplate("#=(Country.Option == null) ? '' : Country.Option#").Editable("checkIfGridEditable");
                      columns.Bound(b => b.Region).ClientTemplate("#=(Region.Option == null) ? '' : Region.Option#").Editable("checkIfGridEditable");
                      columns.Bound(b => b.Population).ClientTemplate("#=(Population == null) ? '' : Population#").Editable("checkIfGridEditable");
                      columns.Bound(b => b.Latitude).ClientTemplate("#=(Latitude == null) ? '' : Latitude#").Editable("checkIfGridEditable");
                      columns.Bound(b => b.Longitude).ClientTemplate("#=(Longitude == null) ? '' : Longitude#").Editable("checkIfGridEditable");
                      columns.Bound(b => b.TimeZone).Editable("checkIfGridEditable");
                      columns.Bound(b => b.FeatureCode).Editable("checkIfGridEditable");
                      columns.Bound(b => b.GeoNameID).ClientTemplate("#=(GeoNameID == null) ? '' : GeoNameID#").Editable("checkIfGridEditable");
                      columns.Bound(b => b.AlternateNames).Editable("checkIfGridEditable");
                      columns.Bound(b => b.NameAscii).Editable("checkIfGridEditable");
                      columns.Bound(b => b.Slug).Editable("checkIfGridEditable");
                      columns.Bound(b => b.SearchNames).Editable("checkIfGridEditable");
                  })
                  .ToolBar(toolbar =>
                  {
                      toolbar.Create().HtmlAttributes(new { @class = "d-none" });
                      toolbar.Save().HtmlAttributes(new { @class = "d-none" });
                  })
                  .Editable(editable => editable.Mode(GridEditMode.InCell))
                  .Pageable(page => page.ButtonCount(7).Responsive(true))
                  .Navigatable()
                  .Sortable()
                  .Filterable()
                  .Reorderable(x => x.Columns(true))
                  .Selectable(config=> config.Mode(GridSelectionMode.Single))
                  .Scrollable()
                  .ColumnMenu(col => col.Filterable(true).Enabled(true))
                  .Resizable(resize => resize.Columns(true))
                  .Events(e => e.DataBound("onDataBound").ColumnMenuInit("columnMenuInit"))
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Batch(true)
                      .PageSize(1000)
                      .Events(events => events.Error("error_handler"))
                      .Model(model =>
                      {

                          model.Id(p => p.CityID);
                          model.Field(p => p.CityID).Editable(false);
                          model.Field(field => field.Country).DefaultValue(new ResearchApp.ViewModel.DropdownOptions());
                          model.Field(field => field.Region).DefaultValue(new ResearchApp.ViewModel.DropdownOptions());
                      })
                      .Create("City_Create", "Grid")
                      .Read("List", "Grid", new { type = GridTypes.City })
                      .Update("City_Update", "Grid")
                      .Destroy("City_Destroy", "Grid")
                  )
    )
</div>
    <div id="form-container"></div>
</div>
