@using ResearchApp.Data
<div class="grid-container ml-2">
    <div id="kendo-grid-container">
    @(Html.Kendo().Grid<ResearchApp.ViewModel.AuthorViewModel>()
                  .Name("grid")
                  .Columns(columns =>
                  {
                      columns.Template("<div class='text-center'><input type='checkbox' id='#=AuthorID#' class='grid-item'/></div>")
                      .ClientHeaderTemplate("<div class='k-grid-delete text-center'><a role='button' class='k-button k-button-icontext' href=''>Delete</a></div>").Width(100);
                      columns.Bound(b => b.AuthorID).Width(80);
                      columns.Bound(b => b.FullName).Editable("checkIfGridEditable").Width(130);
                      columns.Bound(b => b.FirstName).Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.LastName).Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.IsOrganization).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<input disabled='disabled' type='checkbox' #= IsOrganization ? checked='checked':'' # class='chkbx' />").Editable("function(e){ return false; }").Width(100);
                      columns.Bound(b => b.Gender).ClientTemplate("#=(Gender == null) ? '' : Gender#").Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.BirthYear).ClientTemplate("#=(BirthYear == null) ? '' : BirthYear#").Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.BirthCountry).ClientTemplate("#=(BirthCountry.Option == null) ? '' : BirthCountry.Option#").Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.PenName).Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.AlsoKnownAs).Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.Title).Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.DeathYear).ClientTemplate("#=(DeathYear == null) ? '' : DeathYear#").Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.FirstActivityYear).ClientTemplate("#=(FirstActivityYear == null) ? '' : FirstActivityYear#").Editable("checkIfGridEditable").Width(100);
                      columns.Bound(b => b.Occupation).Editable("checkIfGridEditable").Width(150);
                      columns.Bound(b => b.Sources).Editable("checkIfGridEditable").Width(150);
                      columns.Bound(b => b.Comments).Editable("checkIfGridEditable").Width(150);
                  })
                  .ToolBar(toolbar =>
                  {
                      toolbar.Create().HtmlAttributes(new { @class = "d-none" });
                      toolbar.Save().HtmlAttributes(new { @class = "d-none" });
                  })
                  .Editable(editable => editable.Mode(GridEditMode.InCell))
                  .Pageable(page => page.ButtonCount(7).Responsive(true))
                  .Navigatable()
                  .Sortable()
                  .Filterable()
                  .Reorderable(x => x.Columns(true))
                  .Scrollable()
                  .Selectable(config=> config.Mode(GridSelectionMode.Single))
                  .ColumnMenu(col => col.Filterable(true).Enabled(true))
                  .Resizable(resize => resize.Columns(true))
                  .Events(e => e.DataBound("onDataBound").ColumnMenuInit("columnMenuInit"))
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Batch(true)
                      .PageSize(1000)
                      .Events(events => events.Error("error_handler"))
                      .Model(model =>
                      {
                          model.Id(p => p.AuthorID);
                          model.Field(p => p.AuthorID).Editable(false);
                          model.Field(field => field.BirthCountry).DefaultValue(new ResearchApp.ViewModel.DropdownOptions());
                      })
                      .Create("Author_Create", "Grid")
                      //.Read("List", "Grid", new { type = GridTypes.Author })
                      .Read(read=> read.Action("List", "Grid").Data("getGridParams"))
                      .Update("Author_Update", "Grid")
                      .Destroy("Author_Destroy", "Grid")
                  )
    )
    </div>
    <div id="form-container"></div>
</div>
