@using ResearchApp.Data
@{
    ViewData["Title"] = "Home Page";
}

<div class="placeholders mb-2">
    <div class="row d-flex justify-content-start">
        <div class="col-md-12">
            @(Html.Kendo().Splitter()
                  .Name("vertical")
                  .Orientation(SplitterOrientation.Vertical)
                  .Panes(verticalPanes =>
                  {
                      verticalPanes.Add()
                          .HtmlAttributes(new { id = "top-pane" })
                          .Scrollable(false)
                          .Collapsible(false)
                          .Content(
                            Html.Kendo().Splitter()
                                .Name("horizontal")
                                .Panes(horizontalPanes =>
                                {
                                    horizontalPanes.Add()
                                        .HtmlAttributes(new { id = "left-pane" })
                                        .Size("200px")
                                        .Scrollable(false)
                                        .Collapsible(true)
                                        .LoadContentFrom("LoadTreeView", "Home");

                                    horizontalPanes.Add()
                                       .HtmlAttributes(new { id = "myModal" })
                                       .LoadContentFrom("GetView", "Grid", new { type = GridTypes.Work });
                                }).ToHtmlString());
                  })
            )
        </div>
    </div>
</div>

@(Html.Kendo().Dialog()
              .Name("dialog")
              .Title("Login")
              .Content("<div class='demo-section k-content'>" +
                  "<form id='loginForm' data-role='validator' novalidate='novalidate' onSubmit='return false;'>" +
                      "<ul id='fieldlist'><li>" +
                      "<label>Password:</label>" +
                      (Html.Kendo().TextBox().Name("login_password").HtmlAttributes(new { type = "password", required = "required" })
                       .Name("Password")).ToHtmlString() +
                       "</li>" +
                       "<li class='actions'><button type='button' data-role='button' data-click='login'>Login</button>" +
                       "</li></ul></form></div>")
                      .Width(400)
                      .Modal(true)
                      .Visible(false)
                      .Events(ev => ev.Close("onClose").Show("onOpen"))
)

<script type="text/x-kendo-template" id="message">
    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="#=field#"
          data-valmsg-for="#=field#" id="#=field#_validationMessage" role="alert">
        <span class="k-icon k-i-warning">
        </span> #=message#
    </span>
</script>

<script type="text/x-kendo-template" id="custom-toolbar">
    <div class="toolbar-btns text-right" style="flex:1;">
        <span class="label">Form View</span> <input type="checkbox" id="form-switch" aria-label="Forms Switch" />
        <span class="label">Word Wrap</span> <input type="checkbox" id="wrap-switch" aria-label="Notifications Switch" />
        <a role="button" class="k-button k-button-icontext k-grid-StartEditing removeFilter" href="">Remove Filters</a>
        <a role="button" class="k-button k-button-icontext k-grid-StartEditing startEditable" href="">Start Editing</a>
        <a role="button" class="k-button k-button-icontext k-grid-StopEditing stopEditable" href="">Stop Editing</a>
        <a role="button" id="custom-add-btn" class="k-button k-button-icontext" href=""><span class="k-icon k-i-plus"></span>Add new record</a>
        <a role="button" id="custom-save-btn" class="k-button k-button-icontext" href=""><span class="k-icon k-i-check"></span>Save changes</a>
        <a role="button" id="custom-cancel-btn" class="k-button k-button-icontext" href=""><span class="k-icon k-i-cancel"></span>Cancel changes</a>
    </div>
</script>

<script type="text/x-kendo-template" id="form-view-custom-toolbar">
    <div class="k-pager-wrap k-grid-pager k-widget k-floatwrap pager-info">
        <a id="first-form-btn" aria-label="Go to the first page" title="Go to the first page" class="k-link k-pager-nav k-pager-first" data-page="1" tabindex="-1">
            <span class="k-icon k-i-arrow-end-left"></span>
        </a>
        <a id="prev-form-btn" aria-label="Go to the previous page" title="Go to the previous page" class="k-link k-pager-nav" data-page="1" tabindex="-1">
            <span class="k-icon k-i-arrow-60-left"></span>
        </a>
        <a id="next-form-btn" aria-label="Go to the next page" title="Go to the next page" class="k-link k-pager-nav" data-page="2" tabindex="-1">
            <span class="k-icon k-i-arrow-60-right"></span>
        </a>
        <a id="last-form-btn" aria-label="Go to the last page" title="Go to the last page" class="k-link k-pager-nav k-pager-last" data-page="17" tabindex="-1">
            <span class="k-icon k-i-arrow-end-right"></span>
        </a>
        <div class="text-right" style="flex:1;">
            <span class="label">Form View</span> <input type="checkbox" id="form-view-switch" aria-label="Forms Switch" />
            <a role="button" class="k-button k-button-icontext k-grid-StartEditing startEditable" href="">Start Editing</a>
            <a role="button" class="k-button k-button-icontext k-grid-StopEditing stopEditable" href="">Stop Editing</a>
            <a role="button" id="add-form-btn" class="k-button k-button-icontext" href=""><span class="k-icon k-i-plus"></span>Add new record</a>
            <a role="button" id="save-form-btn" class="k-button k-button-icontext" href=""><span class="k-icon k-i-check"></span>Save changes</a>
            <a role="button" id="cancel-form-btn" class="k-button k-button-icontext" href=""><span class="k-icon k-i-cancel"></span>Cancel changes</a>
        </div>
    </div>
</script>

<script type="text/javascript">
    $(function () {
        var container = $("#loginForm");
        kendo.init(container);
        container.kendoValidator({
            rules: {
                validmask: function (input) {
                    console.log(input);
                    if (input.is("[data-validmask-msg]") && input.val() != "") {
                        var maskedtextbox = input.data("kendoMaskedTextBox");
                        return maskedtextbox.value().indexOf(maskedtextbox.options.promptChar) === -1;
                    }

                    return true;
                }
            }
        });

        showLoading();

        $('#Password').keypress(function (e) {
            if (e.which == 13) {
                login();
                e.preventDefault();
            }
        });
    });
</script>
