@using ResearchApp.Data
@{
    ViewData["Title"] = "Home Page";
}

<div class="placeholders mb-2">
    <div class="row d-flex justify-content-start">
        <div class="col-md-12">
            @(Html.Kendo().Splitter()
                  .Name("vertical")
                  .Orientation(SplitterOrientation.Vertical)
                  .Panes(verticalPanes =>
                  {
                      verticalPanes.Add()
                          .HtmlAttributes(new { id = "top-pane" })
                          .Scrollable(false)
                          .Collapsible(false)
                          .Content(
                          Html.Kendo().Splitter()
                              .Name("horizontal")
                              .Panes(horizontalPanes =>
                              {
                                  horizontalPanes.Add()
                                      .HtmlAttributes(new { id = "left-pane" })
                                      .Size("200px")
                                      .Scrollable(true)
                                      .Collapsible(true)
                                      .LoadContentFrom("LoadTreeView", "Home");

                                  horizontalPanes.Add()
                                     .HtmlAttributes(new { id = "myModal" })
                                     .LoadContentFrom("AdminSearchForm", "Grid");
                                  //.LoadContentFrom("GetView", "Grid", new { type = GridTypes.Work });
                              }).ToHtmlString());
                  })
            )
        </div>
    </div>
</div>

@(Html.Kendo().Dialog()
              .Name("dialog")
              .Title("Login")
              .Content("<div class='dialog k-content'>" +
                  "<form id='loginForm' data-role='validator' novalidate='novalidate' onSubmit='return false;'>" +
                      "<ul id='fieldlist'><li>" +
                      "<label>Password:</label>" +
                      (Html.Kendo().TextBox().Name("login_password").HtmlAttributes(new { type = "password", required = "required" })
                       .Name("Password")).ToHtmlString() +
                       "</li>" +
                       "<li class='actions'><button type='button' data-role='button' data-click='login'>Login</button>" +
                       "</li></ul></form></div>")
                      .Width(400)
                      .Modal(true)
                      .Visible(false)
                      .Events(ev => ev.Close("onClose").Show("onOpen"))
)

<script type="text/javascript">
    $(function () {
        var container = $("#loginForm");
        kendo.init(container);
        container.kendoValidator({
            rules: {
                validmask: function (input) {
                    console.log(input);
                    if (input.is("[data-validmask-msg]") && input.val() != "") {
                        var maskedtextbox = input.data("kendoMaskedTextBox");
                        return maskedtextbox.value().indexOf(maskedtextbox.options.promptChar) === -1;
                    }

                    return true;
                }
            }
        });

        showLoading();

        $('#Password').keypress(function (e) {
            if (e.which == 13) {
                login();
                e.preventDefault();
            }
        });

        if (!localStorage.getItem('menuItem')) {
            localStorage.setItem('menuItem', 'page1');
        }
    });
</script>
