@{
    ViewData["Title"] = "Home Page";
}

<div class="placeholders mb-2">
    <div class="row d-flex justify-content-start">
        <div class="col-md-12">
            <input type="hidden" id="searchParam" name="searchParam" value="@ViewBag.Search" />
            <input type="hidden" id="logout-value" value="@ViewBag.LogOut" />
            @(Html.Kendo().Splitter()
                  .Name("vertical")
                  .Orientation(SplitterOrientation.Vertical)
                  .Panes(verticalPanes =>
                  {
                      verticalPanes.Add()
                          .HtmlAttributes(new { id = "top-pane" })
                          .Scrollable(false)
                          .Collapsible(false)
                          .Content(
                          Html.Kendo().Splitter()
                              .Name("horizontal")
                              .Panes(horizontalPanes =>
                              {
                                  horizontalPanes.Add()
                                      .HtmlAttributes(new { id = "left-pane" })
                                      .Size("200px")
                                      .Scrollable(false)
                                      .Collapsible(true)
                                      .LoadContentFrom("LoadSearchLeftPanel", "Home");

                                  horizontalPanes.Add()
                                     .HtmlAttributes(new { id = "myModal" })
                                     .LoadContentFrom("LoadSearchRightPanel", "Home");
                              }).ToHtmlString());
                  })
            )
        </div>
    </div>
</div>


<script>
    $(function () {
        if ($('#logout-value').val()) {
            localStorage.setItem('menuItem', 'page4');
            logOffFunc();
        }
        else {
            showLoading();
        }
    });
</script>